<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <!-- 這個片段要寫JS( JavaScript ) -->
    <%- include('./layout/navbar') %>
    <h1>實績案例</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, ratione
      porro ipsa hic distinctio autem saepe doloremque maxime architecto? Earum
      illo doloribus beatae fugiat tempore repudiandae iste sapiente itaque
      veniam!
    </p>
    <%- include('./layout/footer.ejs') %>
    <script type="module" src="../main.js"></script>
  </body>
</html>
